<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Lunar Planner Home</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/new">Create Planner</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <div class="logo-container">
            <img src="/images/updatedlogo.svg" alt="Lunar Planner Logo" class="logo">
        </div>
    </nav>
<main>
    <h2>.・゜ ✧☾ A Planner as Endless as the Night Sky. ☽✧ ゜・.</h2>
    <h3>
        Harness the magic of each moon phase to guide your goals, stay inspired, 
        and illuminate your path to success. With Lunar Planner, your productivity 
        will truly be endless.
    </h3>
    <br>
    <div class="stars"></div>
      <button class="get-started">
        Start Your Journey
      </button>
</main>
<script src="/scripts/stars.js"></script>
</body>
</html>