* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #F6FBFF;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;   
    height: 100vh;  
  }
  
 .navbar {
    width: 100%;
    background-color: #F6FBFF;
    border-bottom: 2px solid #bde0fe; 
    display: flex;
    align-items: center;            
    justify-content: center;      
    position: relative;           
    padding: 15px 0;    
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;                      
    position: absolute;            
    left: 30px;                     
    top: 50%;
    transform: translateY(-50%);   
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: Poppins, sans-serif; 
    font-size: 22px;  
  }
  
  .logo-container {
    text-align: center;
  }
  
  .logo {
    max-width: 160px;  
    height: auto;
    display: block;
  }
    
  main {
    width: 80%;
    text-align: center;
    margin-top: 40px;  
    background-color: #E2CEEE;
    width: 90%;
    max-width: 800px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
  
  .main-content h2 {
    color: #333;
    font-family: cinzel, sans-serif;
    font-size: 32px; 
  }

  .star {
    position: absolute;
    width: 3px;  
    height: 3px;
    background: radial-gradient(circle, #A020F0 40%, transparent 40%);
    border-radius: 50%;
    animation: starAnim 5s infinite ease-in-out;
    z-index: -1;            
  }
  

  @keyframes starAnim {
    0% {
      opacity: 0.8;
      transform: scale(1) translate(0, 0);
    }
    25% {
      opacity: 1;
      transform: scale(1.2) translate(1px, -1px);
    }
    50% {
      opacity: 0.8;
      transform: scale(1.4) translate(2px, -2px);
    }
    75% {
      opacity: 1;
      transform: scale(1.2) translate(1px, -1px);
    }
    100% {
      opacity: 0.8;
      transform: scale(1) translate(0, 0);
    }
  }