// Change the number of tasks here and in the JS
$tasks: 10;
$taskPercentage: 100 / $tasks / 100;

$color: #00868b;

@mixin task($percentage) {
    background-image: linear-gradient(bottom, $color, $color $percentage, #444 $percentage, #444 100%) !important;
  background-image: -webkit-linear-gradient(bottom, $color, $color $percentage, #444 $percentage, #444 100%) !important;
}

$task-list: ();
@for $i from 1 through $tasks {
  $task-list: append($task-list, (percentage($taskPercentage * $i))); 
}

@each $task-percent in $task-list {
    $i: index($task-list, $task-percent);
    .task-#{$i}:before { 
      @include task($task-percent);
    }
}

.progress-bar {
  margin-bottom: 20px;  
}

.progress-bar:before {
  font-size: 60vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-centered {
  text-align: center;
}

.scroll-content {
  background-color: #f6f6f6;
}
